@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <title>Welcome to Café Aroma</title>
<body>
    <h1>Welcome to Café Aroma!</h1>
    <p>
        It's a pleasure to welcome you! Here at Café Aroma, we offer a special selection:
        from the perfect espresso to a creamy cappuccino and irresistible desserts to accompany.
        Explore our menu, place your order and enjoy the exceptional taste of coffee, without leaving home.
    </p>
    <p>
        Need help? We are ready to make your experience even more special.
    </p>
    <p>Enjoy the best moments with us at <strong>Café Aroma!</strong>!</p>
</body>
</html>